{% extends 'quiz/index.html' %}
{% load static %}
{% block content %}
    <div class="bound-change-pass">
        {% for m in messages %}
            {{ m }}
        {% endfor %}

        <form method="POST" id="form-change-pass">
            {% csrf_token %}
            <h1>Change Password</h1>
            <table id="change-pass-tbl">
                <tr class="tr-change-pass">
                    <td align="left">{{ form.oldpassword.label }}</td>
                    <td align="right" colspan="2">{{ form.oldpassword }}</td>
                </tr>
                <tr class="tr-change-pass">
                    <td align="left">{{ form.password1.label }}</td>
                    <td align="right" colspan="2">{{ form.password1 }}</td>
                </tr>
                <tr class="tr-change-pass">
                    <td align="left">{{ form.password2.label }}</td>
                    <td align="right" colspan="2">{{ form.password2 }}</td>
                </tr>
            </table>
            <div id="btn-div">
                <button type="submit" class="btn btn-outline-info" id="btn-submit-change-pass">Submit</button>
            </div>

        </form>
    </div>
{% endblock %}