{% extends 'quiz/index.html' %}
{% load static %}
{% block title %}
    Quizzes
{% endblock %}
<link rel="stylesheet" href="{% static 'css/quizz.css' %}">
{% block content %}
    {% if user.is_authenticated %}
        <div class="row">
            <div class="col-sm d-inline-flex p-2">
                <div class="p-2 position-relative"><h2>Quizzes</h2></div>
            </div>
            <div class="col-sm d-inline-flex p-2">
                <div class="p-2"><a href="{% url 'add_quiz' %}" class="btn btn-warning">Add Quiz</a></div>
            </div>
        </div>
        <div>
            <input type="text" id="myInput" onkeyup="searchQuiz()" placeholder="Search for quiz.."
                   title="Type in a name">
        </div>
        <div>
            <ul id="allquiz">
                {% for q in quiz %}
                    <li><a href="{% url 'quiz_detail' id %}">q.title</a></li>
                {% endfor %}
            </ul>
        </div>
    {% else %}
        <h1>Please Login first.</h1>
    {% endif %}
{% endblock %}
