{% extends 'quiz/index.html' %}
{% load static %}
{% block title %}
    Quizzes
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/quizz.css' %}">{% endblock %}
{% block content %}
    <br>
    {% if user.is_authenticated %}
        <div class="row">
            <div class="col-sm d-inline-flex p-2">
                <div class="p-2 position-relative"><h1>Quizzes</h1></div>
            </div>
            <div class="col-sm p-2">
                <div class="p-2 float-right"><a href="{% url 'add_quiz' %}" class="btn btn-warning" style="border-radius: 30px;
    font-size:26px; color: #fff">Add Quiz</a></div>
            </div>
        </div>
        <br><br>

        {#search input#}
        <div class="search-quizz">
            <div class="search-div">
                <i id="search-icon" class="fas fa-search" aria-hidden="true"></i>

                <input type="text" onkeyup="myFunction()" id="search_input" placeholder="Search Quiz">
            </div>
        </div>
        <br>

        {#thanh sửa xóa#}
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
                <div class="row">
                    <div class="col-sm-6"></div>
                    <div class="col-sm-5">
                        <div class="custom-control custom-checkbox ">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                            <button type="button" class="btn btn outline-info">Delete</button>
                            <input type="checkbox" class="custom-control-input float-right" id="checkall"
                                   onchange="checkAll(this)">
                            <label class="custom-control-label float-right" for="checkall">All</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {# list of quiz#}
        <table id="list_quiz" class="sortable rp_table">
            <thead>
            <tr>
                <th data-column="title" style="font-weight: normal">Title</th>
                <th data-column="date" style="font-weight: normal">Date</th>
                <th data-column="#" style="font-weight: normal">#</th>
            </tr>
            </thead>
            <tbody>
            {% include 'quiz/quiz_search_result.html' %}
            </tbody>
        </table>

    {% else %}
        <h1>Please Login first.</h1>
    {% endif %}
    <script src="{% static 'js/sorttable.js' %}" type="text/javascript"></script>
    <script type='text/javascript'>
        function checkAll(e) {
            var checkboxes = document.getElementsByName('check');

            if (e.checked) {
                for (let i = 0; i < checkboxes.length; i++) {
                    checkboxes[i].checked = true;
                }
            } else {
                for (let i = 0; i < checkboxes.length; i++) {
                    checkboxes[i].checked = false;
                }
            }
        }
    </script>
    <script>
        function myFunction() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("search_input");
            filter = input.value.toUpperCase();
            table = document.getElementById("list_quiz");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";

                    }
                }
            }
        }
    </script>


{% endblock %}
