{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}
        Teacher Sign Up
    {% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>

</head>
<body>
{% block content %}
    <div class="container">
        <br>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <header class="card-header">
                        <a href="{% url 'teacher_sign_in' %}"
                           class="float-right btn btn-outline-primary mt-1">Cancel</a>
                        <h4 class="card-title mt-2">Forgot password</h4>
                    </header>
                    <article class="card-body">
                        <form method="POST" action="{% url 'set_new_password' uidb64 token %}">
                            {% csrf_token %}
                            {% if reset_form.errors %}
                                        {% for field in reset_form %}
                                            {% for error in field.errors %}
                                                <p>{{ error }}</p>
                                            {% endfor %}
                                        {% endfor %}
                                    {% endif %}
                            <div class="form-row">
                                <div class="col form-group">
                                    <label for="password1">Password</label>
                                    <input type="password" class="form-control" name="password1" required>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col form-group">
                                    <label for="password2">Confirm Password</label>
                                    <input type="password" class="form-control" name="password2" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <button id="next-button" class="btn btn-primary btn-block"> Next</button>
                            </div> <!-- form-group// -->

                        </form>
                    </article> <!-- card-body end .// -->

                </div> <!-- card.// -->
            </div> <!-- col.//-->

        </div> <!-- row.//-->
        <script>
            jQ
        </script>

    </div>
{% endblock %}
</body>
</html>