.room_name {
    font-size: 35px;
    font-weight: lighter;
    color: white;
}

.bound {
    background-color: #8cb4d2;
}

.bound-1 {
    text-align: center;
    position: relative;
}

.answers {
    text-align: center;
}

.slide {
    text-align: center;
    width: 100%;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s;
    margin-top: 50px;
}

.active-slide {
    opacity: 1;
    z-index: 2;
}

.quiz-container {
    position: absolute;
    height: 500px;
    margin-top: 40px;
}

.button_nav {
    position: static;
}


.checkbox-round {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.checkbox-round:checked {
    background-color: #6d9ec4;
}

.square {
    background: #fff;
    color: #000000;
    width: 45px;
    height: 45px;
    float: left;
    border: 1px solid #000000;
    text-align: center;
}

h {
    height: 50%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-drop {
    font-size: 30px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropbtn {
    background-color: #fff;
}

.show {
    display: block;
}

#main-container {
    padding: 0;
    position: relative;
    z-index: 5;
    min-height: 100%;
    width: 100%;
}

#take_quiz_container {
    padding: 4em 0;
}

#enter_name_container {
    border-radius: 5px;
    position: relative;
    width: 32em;
    max-width: 100%;
    margin: 0 auto;
    padding: 1em 0 2em;
    text-align: center;
    font-size: 14px;
    background: #dfeaf3;
}

.enter_name {
    width: 100%;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    max-width: 100%;
    font-size: 1rem;
}

.input_container {
    width: 90%;
    font-size: 14px;
    display: inline-block;
}

.input_block {
    border: 1px solid transparent;
    position: relative;
    max-width: 100%;
}

#student-name-input {
    height: 50px;
    width: 100%;
    margin: 2em 0;
}

h3 {
    font-size: 18px;
}

.button-large {
    border-radius: 5px;
    width: 90px;
    min-height: 42px;
    padding: 0 15px;
    line-height: 42px;
    font-size: 12px;
}

.button-primary {
    background-color: #ffa100;
    color: #fff;
    border: 1px solid #ffa100;
    text-transform: uppercase;
}

#std-error {
    width: 40%;
    margin: auto;
    margin-top: 10px !important;
    height: 50px;
}

.loader_bg {
    position: fixed;
    z-index: 9999;
    background: #fff;
    width: 100%;
    height: 100%;
}

.loader {
    border: 0 solid transparent;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    position: absolute;
    top: calc(50vh - 300px);
    left: calc(50vw - 350px);
}

.loader:before, .loader:after {
    content: '';
    border: 1em solid #6d9ec4;
    border-radius: 50%;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    animation: loader 2s linear infinite;
    opacity: 0;
}

.loader:before {
    animation-delay: .5s;
}

@keyframes loader {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

.loader-2 {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #ff7105;
    width: 180px;
    height: 180px;
    -webkit-animation: spin 1.5s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    margin: auto;
    left: 50%;
    top: 50%;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#wait-text {
    margin-top: 80px;
    text-align: center;
}

/* Student name after click Done */
.spinner {
  margin: auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #fff;
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}