{% extends 'student_quiz/quiz_test_index.html' %}
{% load static %}
{% block content %}
    <div class="loader_bg">
        <div class="loader"></div>
    </div>
    <div class="row">
        <div class="col-sm d-inline-flex p-2">
            <div class="p-2 position-relative">
                <div class="dropdown">
                    <button type="button" class="dropbtn btn" id="btn_drop" onclick="showNav()">{{ quiz.title }}<i
                            class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content" id="question_nav"></div>
                </div>
            </div>
        </div>
        <div class="col-sm p-2">
            <div class="p-2 float-right">
                <button class="btn btn-warning btn-add-room"
                        id="std-btn-finish-quiz"
                        style="border-radius: 30px; font-size:20px; width: 150px; color: #fff"
                        data-toggle="modal" data-target="#modal-finish-quiz">FINISH
                    QUIZ
                </button>
            </div>
        </div>
    </div>

    <hr>
    <div class="bound-1">
        <div class="quiz_container">
            <div id="quiz"></div>
        </div>
        <div class="button_nav">
            <button id="previous_quiz" class="btn btn-warning ">Previous Question</button>
            <button id="next_quiz" class="btn btn-warning">Next Question</button>
        </div>
    </div>

    <div class="modal fade" id="modal-finish-quiz" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Please Confirm</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to finish the quiz
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-warning" data-dismiss="modal" id="no-modal">No</button>
                    <button type="button" class="btn btn-warning" id="confirm-finish">Yes</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        let myQuestions = JSON.parse("{{ detail|escapejs }}");
        console.log(myQuestions)
        const quizContainer = document.getElementById('quiz');
        const resultsContainer = document.getElementById('results');
        const submitButton = document.getElementById('btn-finish-quiz');
        const confirmSubmitBtn = document.getElementById('confirm-finish');
        const questionNav = document.getElementById("question_nav");
        let scores = 0;

        function shuffle(array) {
            array.sort(() => Math.random() - 0.5);
        }

        function buildQuiz() {
            const output = [];
            myQuestions.forEach(
                (currentQuestion, questionNumber) => {
                    let title = [];
                    title.push(
                        `<div class="num row justify-content-center"><h2>${questionNumber + 1} of ${myQuestions.length}</h2></div>
                            <div class="row justify-content-center">
                            <label>
                                <span name="question${questionNumber}" style="font-size: 30px">${currentQuestion.question_title}</span>
                            </label>
                            </div>`
                    )
                    const answer = [];
                    for (let letter in currentQuestion.choices) {
                        answer.push(
                            `<div class="row" style="display: block;"><label>
                        <input type="checkbox" class="checkbox-round" name="question${questionNumber}" value="${letter}">
                        <span class="answer">${letter} :
                        ${currentQuestion.choices[letter]}</span>
                      </label></div>`
                        );
                    }
                    output.push(
                        `
                        <div class="slide" id="question${questionNumber + 1}">
                            <div class="question">${title.join('')}</div>
                            <div class="answers" data-id=${currentQuestion.id}>${answer.join('')}</div>
                        </div>`
                    );
                }
            );
            quizContainer.innerHTML = output.join('');
        }

        buildQuiz();

        function showResults() {

            const answerContainers = quizContainer.querySelectorAll('.answers');
            let numCorrect = 0;

            myQuestions.forEach((currentQuestion, questionNumber) => {

                const answerContainer = answerContainers[questionNumber];
                const selector = `input[name=question${questionNumber}]:checked`;
                const userAnswer = (answerContainer.querySelectorAll(selector) || {});
                let answerss = []
                for (let i = 0; i < userAnswer.length; i++) {
                    answerss.push(userAnswer[i].value);
                }

                let correct_choice = currentQuestion.correct;
                if (JSON.stringify(answerss) === JSON.stringify(correct_choice)) {
                    numCorrect++;

                    answerContainers[questionNumber].style.color = 'lightgreen';
                } else {
                    answerContainers[questionNumber].style.color = 'red';
                }

            });
            scores = numCorrect;
            alert(`percentage: ${(numCorrect / myQuestions.length * 100).toFixed(2)}% \ncorrect: ${numCorrect}/${myQuestions.length}`);
        }

        confirmSubmitBtn.addEventListener('click', showResults);
        const previousButton = document.getElementById("previous_quiz");
        const nextButton = document.getElementById("next_quiz");
        const slides = document.querySelectorAll(".slide");
        let currentSlide = 0;

        function showSlide(n) {
            slides[currentSlide].classList.remove('active-slide');
            slides[n].classList.add('active-slide');
            currentSlide = n;
            if (currentSlide === 0) {
                previousButton.style.display = 'none';
            } else {
                previousButton.style.display = 'inline-block';
            }
            if (currentSlide === slides.length - 1) {
                nextButton.style.display = 'none';
            } else {
                nextButton.style.display = 'inline-block';
            }
        }

        showSlide(currentSlide)

        function showNextSlide() {
            checkAnswer();
            showSlide(currentSlide + 1);
        }

        function showPreviousSlide() {
            checkAnswer();
            showSlide(currentSlide - 1);
        }

        previousButton.addEventListener("click", showPreviousSlide);
        nextButton.addEventListener("click", showNextSlide);

        function generateNav() {
            for (let i = 1; i < myQuestions.length + 1; i++) {
                let div = document.createElement("a");
                div.setAttribute("class", "square");
                div.setAttribute("id", `#question${i}`);
                div.setAttribute("href", `#question${i}`);

                let h = document.createElement("a");
                h.textContent = i;
                div.appendChild(h);
                questionNav.appendChild(div);
            }
        }

        generateNav();

        function showNav() {
            questionNav.classList.toggle("show");
        }

        function checkAnswer() {
            const answerContainers = quizContainer.querySelectorAll('.answers');
            myQuestions.forEach((currentQuestion, questionNumber) => {
                const answerContainer = answerContainers[questionNumber];
                const selector = `input[name=question${questionNumber}]:checked`;
                const userAnswer = (answerContainer.querySelector(selector));
                if (userAnswer) {
                    const parent = answerContainer.parentElement.id
                    let a = document.getElementsByTagName("a");
                    for (let i = 0; i < a.length; i++) {
                        if (a[i].id === `#${parent}`) {
                            a[i].style.backgroundColor = "#8cb4d2";
                        }
                    }
                } else {
                    const parent = answerContainer.parentElement.id
                    let a = document.getElementsByTagName("a");
                    for (let i = 0; i < a.length; i++) {
                        if (a[i].id === `#${parent}`) {
                            a[i].style.backgroundColor = "#fff";
                        }
                    }
                }
            })
        }

        function checkSlide() {
            let currentSlide = 0;

        }

        setTimeout(function () {
            $('.loader_bg').fadeToggle();

        }, 1500);

        if (history.pushState !== undefined) {
            history.pushState(null, null, location.href);
        }
        history.back();
        history.forward();
        window.onpopstate = function () {
            history.go(1);
        };

        $(window).bind({
            beforeunload: function (ev) {
                ev.preventDefault();
            },
            unload: function (ev) {
                ev.preventDefault();
            }
        });
        $('#question_nav a').on('click', function (e) {
            $(this.id).addClass("active-slide").fadeIn().siblings('div').removeClass('active-slide');
        });

        $("#no-modal").on('click', function () {
            $("#btn-finish-quiz").text("FINISH QUIZ");
        })

        $("#btn-finish-quiz").on('click', function () {
            $(this).html(
                `<div class="spinner">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
            </div>
            `)
        })
        $("#confirm-finish").on('click', function (e) {
            e.preventDefault();
            let answers = [];
            let student_answers = {};
            let i = 1;
            $(".slide").each(function () {
                $(this).children('.answers').children().children().children('input:checked').each(function () {
                    answers.push($(this).val());
                })
                student_answers[i] = answers;
                i += 1;
                answers = [];
            })
            let json_data = JSON.stringify(student_answers);
            $.ajax({
                type: "POST",
                url: '{% url 'finish_quiz' %}',
                data: {
                    score: scores,
                    student_answer_data: json_data
                },
                success: function () {
                    window.location.replace("{% url 'wait_after_finish' %}")
                    window.history.pushState(null, "", window.location.href);
                    window.onpopstate = function () {
                        window.history.pushState(null, "", window.location.href);
                    };
                    alert("yes")
                },
                error: function () {
                    alert("fail")
                }
            });

        })

        $(document).on('click', '#previous_quiz', function (e) {
            e.preventDefault();
            let answers = [];
            let student_answers = {};
            $(".slide").each(function () {
                let ans_id = $(this).children(".answers").data("id")
                $(this).children('.answers').children().children().children('input:checked').each(function () {
                    answers.push($(this).val());
                })
                student_answers[ans_id] = answers;
                answers = [];
            })
            let json_data = JSON.stringify(student_answers);
            console.log(json_data)
            $.ajax({
                type: "POST",
                url: '{% url 'finish_quiz' %}',
                data: {
                    score: scores,
                    student_answer_data: json_data
                },
                success: function () {
                },
                error: function () {
                    alert("fail")
                }
             });
        })

        $(document).on('click', '#next_quiz', function (e) {
            e.preventDefault();
            let answers = [];
            let student_answers = {};
            $(".slide").each(function () {
                let ans_id = $(this).children(".answers").data("id")
                $(this).children('.answers').children().children().children('input:checked').each(function () {
                    answers.push($(this).val());
                })
                student_answers[ans_id] = answers;
                answers = [];
            })
            let json_data = JSON.stringify(student_answers);
            $.ajax({
                type: "POST",
                url: '{% url 'finish_quiz' %}',
                data: {
                    score: scores,
                    student_answer_data: json_data
                },
                success: function () {
                },
                error: function () {
                    alert("fail")
                }
             });
        })


    </script>

{% endblock %}